/*
  https://www.google.com/design/spec/style/color.html#color-ui-color-palette
	  - primary: Yellow 500:#ffeb3b; 700:#ffd600
		- accent : Light Green #8bc34a
*/

body {
	font-family: 'Open Sans', sans-serif;
}

nav.top-bar, nav.top-bar a {
	background-color: #ffeb3b !important;
	color: rgba(0,0,0, 0.87) !important;
}
nav .full-menu {
	display: none;
}
@media (min-width: 768px) {
	nav .full-menu {
		display: inline;
	}
	nav .shop-menu {
		display: none;
	}
}

a, a:hover {
	color: rgba(0,0,0,0.87);
	text-decoration: none;
}
a:hover {
	color: rgba(0,0,0,0.54);
}

.button, .btn:hover {
	background-color: rgba(0,0,0,.87);
	color: #fff;
	/* text-transform: uppercase; */
}

/* body {
	border-top: 50px solid #ffeb3b;
	font-family: 'Open Sans', sans-serif;
}

@media (min-width: 768px) {
	body {
		border-top: 100px solid #ffeb3b;
	}
}

a, a:hover {
	color: rgba(0,0,0,0.87);
	text-decoration: none;
}
a:hover {
	color: rgba(0,0,0,0.54);
}

.navbar-default {
	border: none;
	background-color: #ffeb3b;
	color: rgba(0,0,0, 0.87);
	margin-bottom: 0;
		box-shadow: 0 2px 5px rgba(0,0,0,.26);
}
	.navbar-default .navbar-toggle {
		border: none;
	}
	.navbar-default .navbar-toggle:focus {
		background-color: #fff9c4;
	}
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
		background-color: #fff9c4;
	}
	.navbar-default .navbar-brand img {
		height: 30px;
		margin: -10px 0;
	}
	.navbar-header .navbar-nav {
		display: inline-block;
	}
	.navbar-default .navbar-collapse {
		background-color: #fff;
	}
	.navbar-default .dropdown-shop {
		display: none;
	}
	.navbar-default.affix {
		box-shadow: 0 2px 5px rgba(0,0,0,.26);
	}
@media (min-width: 768px) {
	.navbar-default {
	height: 100px;
	transition: height 0.15s ease-in;
	}
	.navbar-default.affix-top .navbar-nav>li>a {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.navbar-default .navbar-brand img {
		height: 70px;
		margin: 0;
		transition: height 0.15s ease-in;
	}
	.navbar-default.affix {
		height: 56px;
		transition: height 0.25s ease-out;
	}
	.navbar-default.affix .navbar-brand img {
		height: 30px;
		margin: -10px 0;
		transition: height 0.25s ease-out;
	}

		.navbar-default .dropdown-shop {
			display: block;
		}
		.navbar-header .navbar-nav {
			display: none;
		}
		.navbar-default .navbar-collapse {
			background-color: inherit;
		}
		.navbar-default .navbar-collapse-shop {
			display: none !important;
		}
}

.btn, .btn:hover {
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
}
	.btn.btn-cta {

	}
*/
	.site-content .site-subbanner {
		width: 100%;
		padding: 12px 15px;
		text-align: center;
		background-color: #dcedc8;
		color: #828282;
	}
		.site-content .site-subbanner a {
			color: #828282;
			text-decoration: none;
			text-transform: uppercase;
		}

	.site-content .main-container {
		margin-top: 20px;
	}
		.site-content .main-container .home-default .bucket {
			text-align: center;
			margin-bottom: 40px;
		}
			.site-content .main-container .home-default .hero {
				margin-bottom: 0;
			}
			.site-content .main-container .home-default .hero .btn {
				background-color: #000;
				color: #fff;
			}

footer {
	background-color: #8bc34a;
	text-align: center;
}
	footer .social ul {
		padding-left: 0;
		list-style: none;
		font-size: 2em;
	}
	footer .social ul li {
		display: inline-block;
		margin-right: 10px;
	}
	footer .social ul a {
		text-decoration: none;
		color: rgba(0,0,0,0.87);
	}
	footer .social ul a:hover {
		color: rgba(0,0,0,0.26);
	}
	footer .legal {
		color: rgba(0,0,0,0.26);
		font-size: 0.8em;
	}
